<ul class="nav" role="menu">
    <li class="nav-about" role="menuitem">
        <a class="social-link" href="about/index.html"><img class="social-link-about-us" src="../../assets/images/about-us.png"></a>
    </li>
    <li class="nav-slack" role="menuitem">
        <a class="social-link" href="https://{{ site.slack }}.slack.com/home" target="_blank" rel="noopener"><img class="social-link-slack" src="../../assets/images/slack-icon.png"></a>
    </li>
    <li class="nav-github" role="menuitem">
        <a class="social-link" href="https://github.com/{{ site.github }}" target="_blank" rel="noopener"><img class="social-link-gh" src="../../assets/images/github-icon.png"></a>
    </li>
</ul>
